h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: red;
    background-color: blue;
    padding: 20px;
}


.recipes {
    text-align: center;
    font-size: 25px;
}

.recipes a {
    margin: 10px;
}

.ingredients {
    color: red;
}

.steps {
    color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}